/* RESET */
* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul { list-style: none; }
a { text-decoration: none; color: inherit; }

header { 
    background-color: #1f2937;
    width: 100%;
    position: fixed;
    top: 0; left: 0; z-index: 100;
    padding: 20px 300px; 
    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #00ff00; 
}

.header-logo { color: #F9FAF8; font-weight: bold; font-size: 24px; }
header nav ul { display: flex; gap: 20px; }
header nav ul li a { color: #E5E7EB; font-size: 18px; }


/* HERO SECTION */
.hero-section {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    
    background-color: #1f2937;
    width: 100%;
    min-height: 100vh;
    padding: 150px 300px 100px 300px;
}

.hero-text-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    border: 1px dashed red; 
}
/* MAIN */
.main-text h1 {
    font-size: 48px; font-weight: 900; color: #F9FAF8;
    line-height: 1.2; margin-bottom: 16px;
}
.sub-text p {
    font-size: 18px; color: #E5E7EB; margin-bottom: 32px;
}
.boton {
    background-color: #3882f6; padding: 12px 32px;
    border-radius: 8px; font-weight: bold; color: white;
}

/*IMAGE*/

.img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    border: 1px dashed blue; 
}

.img-container img {
    width: 500px; 
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}