/* RESET */
* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
ul { 
    list-style: none; 
}
a { 
    text-decoration: none; color: inherit; 
}

header { 
    background-color: #1f2937;
    width: 100%;
    position: fixed;
    top: 0; left: 0; z-index: 100;
    padding: 20px 300px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid transparent; 
}

.header-logo { 
    color: #F9FAF8; 
    font-weight: bold; 
    font-size: 24px; 
}

header nav ul { 
    display: flex; 
    gap: 20px; 
}

header nav ul li a { 
    color: #E5E7EB; 
    font-size: 18px; 
}


/* HERO SECTION */

.hero-section {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    background-color: #1f2937;
    width: 100%;
    min-height: auto;
    padding: 150px 300px 100px 300px;
}

.hero-text-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    border: 1px dashed transparent; 
}
/* MAIN */
.main-text h1 {
    font-size: 48px; 
    font-weight: 900; 
    color: #F9FAF8;
    line-height: 1.2; 
    margin-bottom: 1px;
}
.sub-text p {
    font-size: 18px; 
    color: #E5E7EB; 
    margin-bottom: 8px;
}
.boton {
    background-color: #3882f6; 
    padding: 8px 32px;
    border-radius: 8px; 
    font-weight: bold; 
    color: white; 
    font-size: 18px
}

/*IMAGE*/

.img-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; 
    border: 1px dashed transparent; 
}

.img-container img {
    width: 500px; 
    max-width: 100%; 
    height: auto;
    border-radius: 8px;
}

/* QUOTE SECTION */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB; 
    color: #1F2937;            
    padding: 100px 300px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    background-color: white; 
    padding: 60px 300px;    
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px; 
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;       
    flex-wrap: wrap; 
}

.card {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 150px;       
    text-align: center;     
}

.box {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6; 
    border-radius: 16px;       
    margin-bottom: 10px;       
}

.text {
    font-size: 18px;
    color: #5d636b; 
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* AUTHOR CITATION */
.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
}

.quote-content {
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
    line-height: 1.4;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    align-self: flex-end;
    margin: 0;
}

/* CTA-CONTAINER*/

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    background-color: white;
}

.cta-container {
    background-color: #3882f6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
}

.cta-text h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
}

.cta-text p {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    font-family: inherit; 
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}